:root {
  --Pale_blue: hsl(225, 100%, 94%);
  --Bright_blue: hsl(245, 75%, 52%);
  --Very_pale_blue: hsl(225, 100%, 98%);
  --Desaturated_blue: hsl(224, 23%, 55%);
  --Dark_blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Pale_blue);
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: top;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--Very_pale_blue);
  width: 370px;
  height: 80%;
  border-radius: 10px;
}
.container img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.container .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.container .info h1 {
  color: var(--Dark_blue);
}
.container .info p {
  color: var(--Desaturated_blue);
  text-align: center;
}
.container .info .plan-info {
  display: flex;
  flex-direction: row;
}
.container .info .payment {
  background-color: var(--Bright_blue);
  color: var(--Very_pale_blue);
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
.container .info .cancel {
  color: var(--Dark_blue);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
