:root {
  --Pale_blue: hsl(225, 100%, 94%);
  --Bright_blue: hsl(245, 75%, 52%);
  --Bright_blue_hover: hsl(253, 82%, 63%);
  --Very_pale_blue: hsl(225, 100%, 98%);
  --Desaturated_blue: hsl(224, 23%, 55%);
  --Dark_blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Pale_blue);
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  background-color: white;
  width: 330px;
  height: 580px;
  border-radius: 10px;
  margin: 10px;
}
.container img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.container .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.container .info h1 {
  color: var(--Dark_blue);
  font-size: 24px;
  font-weight: 900;
}
.container .info p {
  color: var(--Desaturated_blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 15px;
  text-align: center;
}
.container .info .plan-info {
  background-color: var(--Very_pale_blue);
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
}
.container .info .plan-info img {
  width: 50px;
  height: 50px;
}

.container .info .plan-info p {
  font-size: 16px;
  font-weight: 900;
  color: var(--Dark_blue);
}
.container .info .plan-info span {
  font-size: 16px;
  font-weight: 700;
  color: var(--Desaturated_blue);
}
.container .info .plan-info a {
  font-size: 14px;
  font-weight: 900;
  color: var(--Bright_blue);
  margin-left: auto;
  cursor: pointer;
}
.container .info .plan-info a:hover {
  color: var(--Desaturated_blue);
  text-decoration: none;
}
.container .info .payment {
  background-color: var(--Bright_blue);
  color: var(--Very_pale_blue);
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px 10px;
  cursor: pointer;
  box-shadow: 0px 15px 20px var(--Pale_blue);
}
.container .info .payment:hover {
  background-color: var(--Bright_blue_hover);
}
.container .info .cancel {
  color: var(--Desaturated_blue);
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}
.container .info .cancel:hover {
  color: var(--Dark_blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
  }
  .container {
    width: 400px;
    height: 600px;
  }
  .container .info {
    padding: 15px 40px 30px 40px;
  }
}

@media (min-width: 1440px) {
  body {
    background-size: cover;
  }
}
